#divPadre{height: auto;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}

#divHijo{
   height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    border: 2px solid gray;
}



#inputPrincipal{
  border-bottom: 1px solid gainsboro;  
  
    height: 40px;
    width: 470px;
}

#nuevoLi{
    margin: 0;
    width: 460px;
    display:flex;
    align-items: start;
    justify-content: space-around;
    height: 30px;
    border: 1px solid gainsboro;
}